<!-- Target for toggling the sidebar `.sidebar-checkbox` is for regular
     styles, `#sidebar-checkbox` for behavior. -->
<input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

<!-- Toggleable sidebar -->
<div class="sidebar" id="sidebar">
  <div class="sidebar-item">
    <p>Site navigation</p>
  </div>

  <nav class="sidebar-nav">
    <a class="sidebar-nav-item{% if page.title == 'Home' %} active{% endif %}" href="{{ '/' | absolute_url }}">Home</a>
    <a class="sidebar-nav-item{% if page.title == 'Blog' %} active{% endif %}" href="{{ '/blog' | absolute_url }}">Blog</a>
    <a class="sidebar-nav-item{% if page.title == 'Academics' %} active{% endif %}" href="{{ '/academics' | absolute_url }}">Academics</a>
    <a class="sidebar-nav-item{% if page.title == 'About this page' %} active{% endif %}" href="{{ '/about' | absolute_url }}">About this page</a>
  </nav>

  <div style="bottom: 0; position: absolute; width: 100%;">
    <div class="sidebar-item" style="text-align: center;">
      <p>{% include social_media_links.html %}</p>
    </div>
  
    <div>
      <a href="{{ site.data.links.anonymous_message_form }}" style="color: rgba(255,255,255,.6); text-align: center;"><p>Anonymous message</p></a>
    </div>
  </div>

</div>
